{% extends '::base.html.twig' %}

{% block body %}

    <div class="container">
    <div class="row">
    <div class="col-md-10">
        {% if urls %}
            <ul class="list-group">
                {% for url in urls %}
                    <li class="list-group-item">
                        {{  url.targetUrl }}
                        ( {{ url.shortUrl }} )
                        <a href="{{ url('url_delete', { id: url.id }) }}" class="pull-right btn btn-xs btn-danger">Delete</a>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            You have no URLs. Click <a href="{{ url('url_new') }}"
        {% endif %}
    </div>
        </div>
    </div>
{% endblock %}
